/*body{

    background-color: #80CBC4 ;
}



section, footer {
    background: #272e3a;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}*/